.contacts {
    position: relative;
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    .loader {
        position: absolute;
        left: 48%;
        bottom: 50%;
        color: rgb(51, 51, 51);
    }
    .successMessage {
        display: flex;
        gap: 1rem;
        background-color: rgb(51, 51, 51);
        align-items: center;
        color: #38ef7d;
        opacity: 0.9;
        position: absolute;
        bottom: 1rem;
        right: 0rem;
        padding: 1rem 2rem;
    }
    .errorMessage {
        display: flex;
        gap: 1rem;
        background-color: rgb(51, 51, 51);
        align-items: center;
        color: red;
        opacity: 0.9;
        position: absolute;
        bottom: 1rem;
        right: 0rem;
        padding: 1rem 2rem;
    }
    h1 {
        padding: 2rem;
    }
    .contactsWrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .contactsForm {
            display: flex;
            padding-top: 2rem;
            flex-direction: column;
            gap: 2rem;
            form {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                input,
                textarea {
                    padding: 1rem;
                    display: block;
                    max-width: 100%;
                }
                textarea {
                    min-height: 8rem;
                    resize: vertical;
                }
                button {
                    padding: 1rem 1rem;
                    width: 5rem;
                }
            }
        }
        .contactsImage {
            img {
                width: 10rem;
            }
        }
    }
}
@media (min-width: 48rem) {
    .contacts {
        .contactsWrapper {
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            padding: 2rem;
            .contactsForm {
                flex: 1;
                // form {
                //     input,
                //     textarea {
                //         resize: vertical;
                //     }
                // }
            }
            .contactsImage {
                // width: 100%;
                flex: 1;
                img {
                    width: 100%;
                    max-width: 25rem;
                }
            }
        }
    }
}
