.about {
    .wrapper {
        display: flex;
        padding: 2rem;
        flex-direction: column;
        gap: 2rem;
        .illustration {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .aboutMe {
            width: 100%;
        }
    }
}

@media (min-width: 48rem) {
    .about {
        .wrapper {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            .illustration {
                flex: 1;
                img {
                    width: 100%;
                }
            }
            .aboutMe {
                flex: 1;
            }
        }
    }
}
