.about {
    text-align: center;

    padding: 2rem;
    .wrapper {
        display: flex;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        .illustration {
            width: 100%;
            img {
                width: 100%;
                max-width: 35rem;
            }
        }
        .aboutMe {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                width: 100%;
                max-width: 35rem;
                padding-bottom: 0.5rem;
            }
            .resumeButton {
                width: 100%;
                max-width: 35rem;
                padding-top: 1.5rem;
            }
        }
    }
}

@media (min-width: 48rem) {
    .about {
        .resumeButton {
            text-align: right;
        }
        .wrapper {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            width: 100%;
            .illustration {
                flex: 1;
                img {
                    width: 100%;
                    max-width: 35rem;
                }
            }
            .aboutMe {
                flex: 1;
                text-align: left;

                // text-align: left;
                padding: {
                    width: 100%;
                    max-width: 35rem;
                }
            }
        }
    }
}
