.skills {
    text-align: center;
    padding: 2rem;
    .container {
        min-height: 52vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 4rem;
        .buttonGroup {
            display: flex;
            gap: 1rem;
            button {
                padding: 0.5rem 1rem;
                border: 0.1rem solid #11998e;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }
    }
}

.wrapper {
    padding-top: 2rem;
    text-align: center;
    .skillsBox {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        .skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            img {
                width: 3.5rem;
                height: 3.5rem;
            }
        }
    }
}

@media (min-width: 48rem) {
    .skills {
        .container {
            flex-direction: row;
            padding: 0rem;
            justify-content: center;
            align-items: center;
            .buttonGroup {
                flex-direction: column;
                align-items: center;
                padding: 0;
                flex: 1;
                button {
                    width: 15rem;
                    padding: 1rem 1rem;
                }
            }
            .wrapper {
                flex: 2;
                .skillsBox {
                }
            }
        }
    }
}
