section {
    text-align: center;
    padding: 2rem;
    .container {
        min-height: 52vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 4rem;
        .buttonGroup {
            padding: 2rem;
            display: flex;
            gap: 1rem;
            button {
                padding: 0.5rem 1rem;
                border: 0.1rem solid #11998e;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }
    }
}

.wrapper {
    padding: 2rem;
    text-align: center;
    .skillsBox {
        padding: 2rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        .skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            img {
                width: 3.5rem;
                height: 3.5rem;
            }
        }
    }
}
.buttonClicked {
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
@media (min-width: 48rem) {
    section {
        .container {
            flex-direction: row;
            padding: 0rem;
            justify-content: center;
            align-items: center;
            .buttonGroup {
                flex-direction: column;
                align-items: center;
                padding: 0;
                flex: 1;
                button {
                    width: 12rem;
                }
            }
            .wrapper {
                flex: 2;
                .skillsBox {
                }
            }
        }
    }
}
