* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 3rem;
    font-family: 'roboto', sans-serif;
}
.projectsContainer {
    background-color: #fff;
    max-width: 1920px;
    box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    .main {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
