.projects {
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding-top: 2rem;
    h1 {
        text-align: center;
    }
    .wrapper {
        padding: 2rem;
        .project {
            border-bottom: 0.1rem solid rgb(51, 51, 51);
            display: flex;
            flex-direction: column;
            .textWrapper {
                display: flex;
                justify-content: center;
                .description {
                    display: flex;
                    flex-direction: column;
                    padding: 2rem 0;
                    max-width: 30rem;
                    h2 {
                        padding-bottom: 2rem;
                    }
                    .technologies {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1rem;
                        padding-bottom: 1rem;
                        p {
                            border: 0.1rem solid white;
                            padding: 0.3rem;
                            font-size: smaller;
                            background-color: transparent;
                            opacity: 0.8;
                            font-weight: bolder;
                        }
                    }
                    p {
                        padding-bottom: 1rem;
                    }
                    span {
                        font-style: italic;
                    }
                    .projectButtons {
                        padding-top: 1rem;
                        display: flex;
                        gap: 1rem;
                        a {
                            text-decoration: none;
                            button {
                                padding: 0.5rem 0.5rem;
                            }
                        }
                    }
                }
            }
            .visualization {
                padding-bottom: 2rem;
                text-align: center;
                img {
                    width: 100%;
                    max-width: 30rem;
                    border: 0.8rem solid rgb(51, 51, 51);
                    border-radius: 0.3rem;
                }
            }
        }
        .project:last-of-type {
            border-bottom: none;
        }
    }
}
@media (min-width: 48rem) {
    .projects {
        .wrapper {
            .project {
                padding-top: 2rem;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
                .textWrapper {
                    flex: 1;
                    .description {
                        .technologies {
                            p {
                                padding: 0.5rem;
                            }
                        }
                        .projectButtons {
                            a {
                                button {
                                    padding: 0.5rem 1rem;
                                }
                            }
                        }
                    }
                }
                .visualization {
                    flex: 1;
                    img {
                        max-width: 35rem;
                    }
                }
            }
        }
    }
}
